.flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
.flex li {
  margin-right: 14px;
  color: #a4a4a4;
  font-size: 12px;
}
.flex li a {
  text-decoration: inherit;
  color: inherit;
}

.width-100 {
  width: 100%;
}

.padding-xp30 {
  padding-left: 30px;
  padding-right: 30px;
}

.up-menu li {
  transition: all 500ms;
}
.up-menu li:hover {
  color: rgb(239, 239, 239);
}
.up-menu li.btn-green:hover {
  background-color: #25bd30;
}

@keyframes poster-name-anim {
  0% {
    left: 0px;
  }
  50% {
    left: -160%;
    visibility: hidden;
  }
  51% {
    visibility: hidden;
    left: 100%;
  }
  55% {
    visibility: visible;
    left: 100px;
  }
  100% {
    visibility: visible;
    left: 0px;
  }
}
.get-full-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(239, 239, 239);
  font-size: 0.7rem;
  text-decoration: none;
}
.get-full-list span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  margin: auto 5px;
  padding: 15px;
  background-color: rgba(239, 239, 239, 0.08);
  border-radius: 50%;
}

.bookmark {
  transition: all 500ms;
}
.bookmark:hover, .bookmark.active {
  color: #1d9225;
}
.bookmark:hover {
  cursor: pointer;
}

.bell {
  transition: all 500ms;
}
.bell:hover {
  color: #e88103;
  cursor: pointer;
}

#login-btn {
  padding: 0px;
}
#login-btn > a {
  padding: 14px 10px;
}
#login-btn .unvisable-div {
  display: none;
}
#login-btn .unvisable-div .login-popup {
  display: none;
  opacity: 0;
  transition: all 5s;
}
#login-btn:hover {
  position: relative;
}
#login-btn:hover .unvisable-div {
  position: absolute;
  padding-top: 23px;
  display: block;
  margin-top: 43px;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#login-btn:hover .unvisable-div .login-popup {
  position: relative;
  background: transparent;
  opacity: 1;
  width: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 12;
  border-radius: 18px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
#login-btn:hover .unvisable-div .login-popup * {
  z-index: 13;
}
#login-btn:hover .unvisable-div .login-popup .btn-enter {
  padding: 10px 20px;
  background-color: #141923;
  border-radius: 12px;
  margin-bottom: 20px;
}
#login-btn:hover .unvisable-div .login-popup .no-sigup {
  width: 100%;
  text-align: center;
}
#login-btn:hover .unvisable-div .login-popup .no-sigup a {
  color: #e88103;
}
#login-btn:hover .unvisable-div .login-popup hr {
  border: 1px solid #8e8e8e;
  width: 90%;
}
#login-btn:hover .unvisable-div .login-popup .vip-text {
  transition: all 500ms;
  text-align: center;
}
#login-btn:hover .unvisable-div .login-popup .vip-text i {
  margin-left: 5px;
}
#login-btn:hover .unvisable-div .login-popup .vip-text:hover {
  color: #e88103;
}
#login-btn:hover .unvisable-div .login-popup .blur-bg, #login-btn:hover .unvisable-div .login-popup .black-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#login-btn:hover .unvisable-div .login-popup .blur-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 11;
}
#login-btn:hover .unvisable-div .login-popup .black-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 9, 11);
  opacity: 0.7;
  z-index: 12;
}
#login-btn:hover .arrow-bg {
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(7, 9, 11, 0.7);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 47px;
  z-index: 15;
}

.catalogs-obj {
  padding: 0px;
}
.catalogs-obj > a {
  padding: 14px 10px;
}
.catalogs-obj .unvisable-div {
  border: none !important;
  display: none;
}
.catalogs-obj .unvisable-div .login-popup {
  display: none;
  opacity: 0;
  transition: all 5s;
}
.catalogs-obj:hover {
  position: relative;
}
.catalogs-obj:hover .unvisable-div {
  position: absolute;
  padding-top: 23px;
  display: block;
  margin-top: 43px;
  background-color: transparent;
  top: 0px;
  right: 0px;
  z-index: 10;
}
.catalogs-obj:hover .unvisable-div .login-popup {
  position: relative;
  background: transparent;
  opacity: 1;
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 12;
  border-radius: 18px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalogs-obj:hover .unvisable-div .login-popup * {
  z-index: 13;
}
.catalogs-obj:hover .unvisable-div .login-popup .btn-enter {
  padding: 10px 20px;
  background-color: #141923;
  border-radius: 12px;
  margin-bottom: 20px;
}
.catalogs-obj:hover .unvisable-div .login-popup .no-sigup {
  width: 100%;
  text-align: center;
}
.catalogs-obj:hover .unvisable-div .login-popup .no-sigup a {
  color: #e88103;
}
.catalogs-obj:hover .unvisable-div .login-popup hr {
  border: 1px solid #8e8e8e;
  width: 90%;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text {
  transition: all 500ms;
  text-align: center;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text i {
  margin-left: 5px;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text:hover {
  color: #e88103;
}
.catalogs-obj:hover .unvisable-div .login-popup .blur-bg, .catalogs-obj:hover .unvisable-div .login-popup .black-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}
.catalogs-obj:hover .unvisable-div .login-popup .blur-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: none;
  z-index: 11;
}
.catalogs-obj:hover .unvisable-div .login-popup .black-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #141923;
  opacity: 0.7;
  z-index: 12;
  border: none;
}
.catalogs-obj:hover .arrow-bg {
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(7, 9, 11, 0.7);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 47px;
  z-index: 15;
}

.visable-list {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}
.visable-list .list-subjects {
  display: flex;
  width: 20%;
  direction: rtl;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
  padding-left: 30px;
  border-left: 1px solid #8e8e8e;
}
.visable-list .list-subjects .list-subject {
  padding: 18px 3.5rem;
  border-radius: 16px;
  background-color: transparent;
}
.visable-list .list-subjects .list-subject.selected {
  background-color: rgb(7, 9, 11);
}
.visable-list .list-of-subjects {
  width: 80%;
  direction: rtl;
  padding-right: 30px;
}
.visable-list .list-of-subjects > div {
  display: none;
}
.visable-list .list-of-subjects > div.visable {
  display: grid;
}
.visable-list .list-of-subjects .grid-3col {
  grid-template-columns: repeat(3, 1fr);
}
.visable-list .list-of-subjects .grid-2col-1col {
  grid-template-columns: 2fr 1fr;
}
.visable-list .list-of-subjects .grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
  padding-right: 0px;
  text-align: right;
}
.visable-list .list-of-subjects .grid-2col li {
  display: block;
}
.visable-list .list-of-subjects .flex-list-col {
  display: flex;
  flex-direction: column;
  direction: rtl;
  align-items: center;
}
.visable-list .list-of-subjects .list-header {
  width: 100%;
  font-size: 15px;
  text-align: right;
  padding: 2px;
  border-right: 2px solid #e88103;
}
.visable-list .list-of-subjects .no-border-right.item-normal {
  border-right: none;
}
.visable-list .list-of-subjects .item-normal {
  font-size: 15px;
  text-align: center;
  padding: 2px;
  border-right: 2px solid #e88103;
  margin: 20px 10px;
  display: flex;
  align-items: center;
}
.visable-list .list-of-subjects .item-normal .item-link {
  text-decoration: none;
  color: rgb(239, 239, 239);
  padding-right: 10px;
}
.visable-list .list-of-subjects .item-normal .item-link:hover {
  margin-right: 10px;
  color: #e88103;
}
.visable-list .list-of-subjects .item-normal .item-count {
  font-size: 13px;
  color: #8e8e8e;
  margin-right: 5px;
}

@font-face {
  font-family: IranSans;
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.ttf") format("truetype");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.woff") format("woff");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.woff2") format("woff2");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.svg") format("svg");
}
@font-face {
  font-family: JetBrains;
  src: url("./fonts/english/jetbrain/JetBrainsMono-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: JetBrains;
  font-family: IranSans;
}

body {
  margin: 0;
  background-color: rgb(7, 9, 11);
  padding-bottom: 40px;
}

.btn {
  padding: 5px 10px;
  background-color: #1d9225;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 33px;
  font-size: 12px;
}
.btn .btn-icon {
  width: 20px;
  height: 23px;
}
.btn a {
  text-decoration: none;
  color: white !important;
}

header {
  background-color: #141923;
  height: 70px;
  margin: 0px;
}
header .sub-menu {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
}
header .flex,
header .sub-menu {
  margin: 0px;
  height: 100%;
  justify-content: space-around;
}
header .flex > li,
header .sub-menu > li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
  font-size: 13px;
  margin-right: 30px;
  white-space: nowrap;
}
header .flex > li a,
header .sub-menu > li a {
  transition: all 300ms;
}
header .flex > li a:hover,
header .sub-menu > li a:hover {
  color: white;
}
header .flex > li .icon,
header .sub-menu > li .icon {
  width: 20px;
  height: 20px;
  margin: auto 5px;
}
header .flex > li .icon.small,
header .sub-menu > li .icon.small {
  width: 10px;
  height: 10px;
}
header .flex > li.input-look,
header .sub-menu > li.input-look {
  padding: 14px 8px;
  background-color: rgb(7, 9, 11);
  border-radius: 20px;
  position: relative;
}
header .flex > li.input-look input,
header .sub-menu > li.input-look input {
  background-color: inherit;
  outline: none;
  border: none;
  width: 350px;
  color: #8e8e8e;
  direction: rtl;
}
header .flex > li.input-look.dark-mode,
header .sub-menu > li.input-look.dark-mode {
  position: relative;
  width: 100px;
  border-radius: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px 10px;
}
header .flex > li.input-look.dark-mode span,
header .sub-menu > li.input-look.dark-mode span {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 33px;
  background-color: rgba(255, 255, 255, 0.288);
  left: 13%;
}
header .flex > li.input-look > div,
header .sub-menu > li.input-look > div {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 70%;
  background-color: #e38007;
  border-radius: 10px;
  border: 2px solid #854c07;
}
header .flex .logo,
header .sub-menu .logo {
  width: 125px;
}
header .flex .login-btn,
header .sub-menu .login-btn {
  background-color: #854c07;
  padding: 10px 14px;
  border-radius: 10px;
}

.backdrop {
  width: 100%;
  height: auto;
  position: relative;
}
.backdrop #image {
  width: 80%;
  height: 550px;
}
.backdrop #image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50px;
}
.backdrop .gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(7, 9, 11, 0.1), rgba(7, 9, 11, 0.5) 10%, rgba(7, 9, 11, 0.7) 40%, rgb(7, 9, 11) 80%, rgb(7, 9, 11) 90%);
  position: absolute;
  top: 0px;
  left: 0px;
}
.backdrop #play-btn {
  display: inline-block;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 30%;
  top: calc(50% - 70px);
  transform: transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.backdrop #play-btn:hover {
  transform: scale(1.15);
}
.backdrop #play-btn span {
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
}
.backdrop #play-btn span > img {
  width: 50%;
  height: 50%;
  filter: none;
  position: absolute;
}
.backdrop #play-btn > span {
  width: 110%;
  height: 110%;
}
.backdrop #play-btn > span > span {
  width: 80%;
  height: 80%;
}
.backdrop #play-btn > span > span > span {
  width: 80%;
  height: 80%;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.backdrop #backdrop-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  color: white;
  max-width: 322px;
}
.backdrop #backdrop-info img {
  width: 70px;
  margin-top: 20px;
}
.backdrop #backdrop-info span {
  margin-top: 20px;
}
.backdrop #backdrop-info .backdrop-quality {
  padding: 12px;
  background-color: rgba(7, 9, 11, 0.6);
  border-radius: 10px;
  font-size: 1rem;
}
.backdrop #backdrop-info .backdrop-movie-name {
  font-size: 3rem;
  text-decoration: none;
  color: rgb(239, 239, 239);
}
.backdrop #backdrop-info .backdrop-movie-score {
  font-size: 1.5rem;
}
.backdrop #backdrop-info .backdrop-movie-score span {
  font-size: 1rem;
}

#moving-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 380px;
  overflow-y: visible;
  overflow-x: clip;
  position: absolute;
  left: 50%;
  top: calc(50% - 190px);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
#moving-list > div, #moving-list > a {
  margin-right: 20px;
}
#moving-list > div .score, #moving-list > a .score {
  left: 10px;
}
#moving-list > div .like, #moving-list > a .like {
  right: 10px;
  left: auto;
}

.moviepost {
  position: relative;
  display: flex;
  height: 340px;
  background-color: black;
  flex-direction: column;
  margin-bottom: 30px;
}
.moviepost:hover .movie-poster-link {
  text-overflow: clip;
  position: relative;
}
.moviepost:hover .movie-poster-link span {
  position: absolute;
  animation-name: poster-name-anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.moviepost:hover .poster {
  border-top-left-radius: 10px;
  border-top: 2px solid rgba(255, 155, 32, 0.8);
  border-left: 2px solid #ff9b20;
  border-bottom: 1px solid rgba(255, 155, 32, 0.5);
  border-right: 1px solid rgba(255, 155, 32, 0.3);
}
.moviepost.react:hover .movie-poster-link {
  height: auto;
  width: 100%;
  white-space: normal;
  overflow: visible;
}
.moviepost.in-pages, .moviepost.in-home {
  width: 170px;
  height: 300px;
}
.moviepost.in-pages:hover .poster, .moviepost.in-home:hover .poster {
  opacity: 1;
}
.moviepost.in-pages:hover .movie-poster-link, .moviepost.in-home:hover .movie-poster-link {
  height: 16px;
  width: 100%;
  margin-top: 20px;
  white-space: break-spaces;
  line-break: strict;
  white-space: normal;
  overflow: visible;
}
.moviepost.vitrin {
  height: 300px;
  scroll-snap-align: start;
  background-color: transparent;
}
.moviepost.vitrin .score {
  bottom: 10px;
}
.moviepost.vitrin .like {
  bottom: 10px;
}
.moviepost .movie-poster-link {
  text-decoration: none;
  color: rgb(239, 239, 239);
  margin-top: 10px;
  font-weight: 700;
  height: 30px;
  width: 11vw;
  align-self: center;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 500ms;
}
.moviepost .movie-poster-link span {
  transition: all 500ms;
}
.moviepost .poster {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 5%;
  position: relative;
  transition: opacity;
  transition-delay: 100ms;
  transition-duration: 300ms;
  cursor: pointer;
  aspect-ratio: 9/16;
}
.moviepost .poster.avtice {
  opacity: 1;
}
.moviepost .poster:hover {
  opacity: 1;
}
.moviepost .playicon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(7, 9, 11);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviepost .playicon span {
  width: 60%;
  height: 60%;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}
.moviepost .playicon span img {
  width: 50%;
  width: 50%;
}
.moviepost .isSubtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(7, 9, 11);
  padding: 4px 12px;
  background-color: #e88103;
  color: rgb(239, 239, 239);
}
.moviepost .isSubtitle span {
  text-align: center;
  font-size: 11px;
}
.moviepost .isDubbed {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(7, 9, 11);
  padding: 4px 12px;
  background-color: #1d9225;
  color: rgb(239, 239, 239);
}
.moviepost .isDubbed span {
  text-align: center;
  font-size: 11px;
}
.moviepost .isOrginal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(7, 9, 11);
  padding: 4px 12px;
  background-color: #d6d6d6;
  color: rgb(7, 9, 11);
}
.moviepost .isOrginal span {
  text-align: center;
  font-size: 11px;
}
.moviepost .score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 40px;
}
.moviepost .score span:first-child, .moviepost .score span:nth-child(2) {
  font-size: 24px;
  color: rgb(239, 239, 239);
}
.moviepost .score span:nth-child(3) {
  font-size: 16px;
  color: rgb(239, 239, 239);
}
.moviepost .like {
  color: #ff9b20;
  position: absolute;
  padding: 6px 10px;
  border-radius: 10px;
  left: 10px;
  bottom: 40px;
  background-color: rgba(7, 9, 11, 0.8);
  font-size: 14px;
}

#search-engine {
  box-sizing: border-box;
  width: 95%;
  position: absolute;
  transform: translateY(-50%);
  left: 2.5%;
  background-color: #141923;
  border-radius: 60px;
  padding: 4px 20px;
  font-size: 0.7rem;
}
#search-engine > ul, #search-engine > ul > li > ul {
  margin: 4px auto 4px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: #141923;
  padding-left: 0px;
}
#search-engine li {
  cursor: pointer;
  font-size: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: white;
  white-space: nowrap;
  padding: 10px 20px;
  background-color: transparent;
}
#search-engine li > ul > li.selected-item {
  background-color: #854c07;
}
#search-engine li i {
  font-size: 25px;
  margin: auto 8px;
  vertical-align: sub;
  color: #8e8e8e;
  transition: color 500ms;
}
#search-engine li i.fa-chevron-down, #search-engine li i.fa-sliders-simple {
  font-size: 18px;
  margin: auto 8px;
  vertical-align: sub;
  color: rgb(239, 239, 239);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}
#search-engine li.orange-btn {
  background-color: #854c07;
  border-radius: 24px;
  padding: 20px 40px;
}
#search-engine li.search-option {
  background-color: rgb(7, 9, 11);
  border-radius: 24px;
  padding: 20px 40px;
}
#search-engine li.is-ul {
  background-color: rgb(7, 9, 11);
  border-radius: 24px;
}
#search-engine li.is-ul ul, #search-engine li.is-ul li {
  cursor: pointer;
  background-color: transparent;
  border-radius: 40px;
}
#search-engine #search-engine-small {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: rgb(239, 239, 239);
}
#search-engine #search-engine-small > div.have-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
#search-engine #search-engine-small > div.have-icon i {
  font-size: 15px;
  color: rgb(239, 239, 239);
}
#search-engine #search-engine-small > div.have-icon.orange {
  background-color: #ff9b20;
}

.updates-main {
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  background-color: transparent;
}
.updates-main .horiznotal-poster {
  width: 100%;
}
.updates-main .horiznotal-poster > img {
  aspect-ratio: 16/9;
}

.updates-poster {
  position: relative;
}
.updates-poster .poster-link {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  padding-left: 22px;
  font-weight: 300;
  margin-left: 20px;
  min-height: 50px;
}

.horiznotal-poster {
  position: relative;
  background-color: rgb(7, 9, 11);
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}
.horiznotal-poster > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px;
  transition: opacity;
  transition-duration: 300ms;
  transition-delay: 50ms;
  transition-timing-function: ease-in;
}
.horiznotal-poster > img:hover {
  opacity: 0.75;
}
.horiznotal-poster .hor-like {
  position: absolute;
  padding: 6px 10px;
  border-radius: 10px;
  color: #ff9b20;
  background-color: rgba(7, 9, 11, 0.8);
  bottom: 5%;
  left: 5%;
}
.horiznotal-poster .hor-info {
  position: absolute;
  right: 5%;
  bottom: 0;
  transform: translateY(30%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: max(12%, 170px);
  padding: 6px 0px;
  border-radius: 14px;
  font-size: 0.8rem;
  background-color: rgb(7, 9, 11);
}
.horiznotal-poster .hor-info span {
  color: white;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  white-space: nowrap;
}
.horiznotal-poster .hor-info .episode {
  margin: auto 6px;
  padding: 3px 10px;
  background-color: #854c07;
  direction: rtl;
}
.horiznotal-poster .hor-info .season {
  background-color: transparent;
}

.horizontal-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  margin: 90px auto 30px;
  color: #8e8e8e;
}
.horizontal-header .horizontal-logo {
  font-size: 2rem;
  color: #ff9b20;
}
.horizontal-header .horizontal-subject {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.horizontal-header .horizontal-subject span:first-child {
  font-size: 1.15rem;
  color: rgb(239, 239, 239);
  font-weight: bold;
}
.horizontal-header .horizontal-subject span:nth-child(2) {
  font-size: 0.8rem;
}

.horizontal-list-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: rgb(239, 239, 239);
  padding: 5px 40px;
  margin: 20px auto 30px;
}
.horizontal-list-header .horizontal-list-header-text {
  font-weight: bold;
}

.horizontal-list {
  margin-bottom: 70px;
  padding: 0px 40px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 300px;
}
.horizontal-list.have-rect {
  grid-template-columns: repeat(6, 1fr) 2fr;
  margin: 80px auto 70px;
}
.horizontal-list > div .poster {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.horizontal-list-rect-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  color: white;
}
.horizontal-list-rect-header h2 {
  text-align: right;
}
.horizontal-list-rect-header span:first-child {
  margin: 16px auto;
}
.horizontal-list-rect-header hr {
  width: 40%;
  border: 1px solid #ff9b20;
  margin-right: 0px;
}

.smallMenu {
  display: none;
  padding: 5px 10px;
  flex-direction: row;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.smallMenu > div {
  margin: 0px 20px;
}
.smallMenu .input-look {
  padding: 14px 8px;
  background-color: rgb(7, 9, 11);
  border-radius: 20px;
  position: relative;
}
.smallMenu .input-look input {
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid #854c07;
  width: 220px;
  color: #8e8e8e;
  direction: rtl;
}
.smallMenu .input-look > div {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 70%;
  background-color: #e38007;
  border-radius: 10px;
  border: 2px solid #854c07;
}
.smallMenu .search-icon {
  transition: all 500ms;
}
.smallMenu .search-icon.active {
  color: #ff9b20;
}
.smallMenu .search-icon.active .small-search-box {
  display: block;
}
.smallMenu .small-search-box {
  display: none;
  position: absolute;
  padding: 3px 8px;
  left: 15px;
  top: 65px;
}
.smallMenu .smallMenu-icon {
  position: relative;
}
#small-menu-sidebar {
  display: flex;
  position: fixed;
  opacity: 0;
  transition: all 700ms;
  top: 0;
  left: 800px;
}

.bgdiv {
  display: none;
}/*# sourceMappingURL=main.css.map */