.flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
.flex li {
  margin-right: 14px;
  color: #a4a4a4;
  font-size: 12px;
}
.flex li a {
  text-decoration: inherit;
  color: inherit;
}

.width-100 {
  width: 100%;
}

.padding-xp30 {
  padding-left: 30px;
  padding-right: 30px;
}

.up-menu li {
  transition: all 500ms;
}
.up-menu li:hover {
  color: rgb(239, 239, 239);
}
.up-menu li.btn-green:hover {
  background-color: #25bd30;
}

@keyframes poster-name-anim {
  0% {
    left: 0px;
  }
  50% {
    left: -160%;
    visibility: hidden;
  }
  51% {
    visibility: hidden;
    left: 100%;
  }
  55% {
    visibility: visible;
    left: 100px;
  }
  100% {
    visibility: visible;
    left: 0px;
  }
}
.get-full-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(239, 239, 239);
  font-size: 0.7rem;
  text-decoration: none;
}
.get-full-list span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  margin: auto 5px;
  padding: 15px;
  background-color: rgba(239, 239, 239, 0.08);
  border-radius: 50%;
}

.bookmark {
  transition: all 500ms;
}
.bookmark:hover, .bookmark.active {
  color: #1d9225;
}
.bookmark:hover {
  cursor: pointer;
}

.bell {
  transition: all 500ms;
}
.bell:hover {
  color: #e88103;
  cursor: pointer;
}

#login-btn {
  padding: 0px;
}
#login-btn > a {
  padding: 14px 10px;
}
#login-btn .unvisable-div {
  display: none;
}
#login-btn .unvisable-div .login-popup {
  display: none;
  opacity: 0;
  transition: all 5s;
}
#login-btn:hover {
  position: relative;
}
#login-btn:hover .unvisable-div {
  position: absolute;
  padding-top: 23px;
  display: block;
  margin-top: 43px;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#login-btn:hover .unvisable-div .login-popup {
  position: relative;
  background: transparent;
  opacity: 1;
  width: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 12;
  border-radius: 18px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
#login-btn:hover .unvisable-div .login-popup * {
  z-index: 13;
}
#login-btn:hover .unvisable-div .login-popup .btn-enter {
  padding: 10px 20px;
  background-color: #141923;
  border-radius: 12px;
  margin-bottom: 20px;
}
#login-btn:hover .unvisable-div .login-popup .no-sigup {
  width: 100%;
  text-align: center;
}
#login-btn:hover .unvisable-div .login-popup .no-sigup a {
  color: #e88103;
}
#login-btn:hover .unvisable-div .login-popup hr {
  border: 1px solid #8e8e8e;
  width: 90%;
}
#login-btn:hover .unvisable-div .login-popup .vip-text {
  transition: all 500ms;
  text-align: center;
}
#login-btn:hover .unvisable-div .login-popup .vip-text i {
  margin-left: 5px;
}
#login-btn:hover .unvisable-div .login-popup .vip-text:hover {
  color: #e88103;
}
#login-btn:hover .unvisable-div .login-popup .blur-bg, #login-btn:hover .unvisable-div .login-popup .black-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#login-btn:hover .unvisable-div .login-popup .blur-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 11;
}
#login-btn:hover .unvisable-div .login-popup .black-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 9, 11);
  opacity: 0.7;
  z-index: 12;
}
#login-btn:hover .arrow-bg {
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(7, 9, 11, 0.7);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 47px;
  z-index: 15;
}

.catalogs-obj {
  padding: 0px;
}
.catalogs-obj > a {
  padding: 14px 10px;
}
.catalogs-obj .unvisable-div {
  border: none !important;
  display: none;
}
.catalogs-obj .unvisable-div .login-popup {
  display: none;
  opacity: 0;
  transition: all 5s;
}
.catalogs-obj:hover {
  position: relative;
}
.catalogs-obj:hover .unvisable-div {
  position: absolute;
  padding-top: 23px;
  display: block;
  margin-top: 43px;
  background-color: transparent;
  top: 0px;
  right: 0px;
  z-index: 10;
}
.catalogs-obj:hover .unvisable-div .login-popup {
  position: relative;
  background: transparent;
  opacity: 1;
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 12;
  border-radius: 18px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalogs-obj:hover .unvisable-div .login-popup * {
  z-index: 13;
}
.catalogs-obj:hover .unvisable-div .login-popup .btn-enter {
  padding: 10px 20px;
  background-color: #141923;
  border-radius: 12px;
  margin-bottom: 20px;
}
.catalogs-obj:hover .unvisable-div .login-popup .no-sigup {
  width: 100%;
  text-align: center;
}
.catalogs-obj:hover .unvisable-div .login-popup .no-sigup a {
  color: #e88103;
}
.catalogs-obj:hover .unvisable-div .login-popup hr {
  border: 1px solid #8e8e8e;
  width: 90%;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text {
  transition: all 500ms;
  text-align: center;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text i {
  margin-left: 5px;
}
.catalogs-obj:hover .unvisable-div .login-popup .vip-text:hover {
  color: #e88103;
}
.catalogs-obj:hover .unvisable-div .login-popup .blur-bg, .catalogs-obj:hover .unvisable-div .login-popup .black-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}
.catalogs-obj:hover .unvisable-div .login-popup .blur-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: none;
  z-index: 11;
}
.catalogs-obj:hover .unvisable-div .login-popup .black-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #141923;
  opacity: 0.7;
  z-index: 12;
  border: none;
}
.catalogs-obj:hover .arrow-bg {
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(7, 9, 11, 0.7);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 47px;
  z-index: 15;
}

.visable-list {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}
.visable-list .list-subjects {
  display: flex;
  width: 20%;
  direction: rtl;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
  padding-left: 30px;
  border-left: 1px solid #8e8e8e;
}
.visable-list .list-subjects .list-subject {
  padding: 18px 3.5rem;
  border-radius: 16px;
  background-color: transparent;
}
.visable-list .list-subjects .list-subject.selected {
  background-color: rgb(7, 9, 11);
}
.visable-list .list-of-subjects {
  width: 80%;
  direction: rtl;
  padding-right: 30px;
}
.visable-list .list-of-subjects > div {
  display: none;
}
.visable-list .list-of-subjects > div.visable {
  display: grid;
}
.visable-list .list-of-subjects .grid-3col {
  grid-template-columns: repeat(3, 1fr);
}
.visable-list .list-of-subjects .grid-2col-1col {
  grid-template-columns: 2fr 1fr;
}
.visable-list .list-of-subjects .grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
  padding-right: 0px;
  text-align: right;
}
.visable-list .list-of-subjects .grid-2col li {
  display: block;
}
.visable-list .list-of-subjects .flex-list-col {
  display: flex;
  flex-direction: column;
  direction: rtl;
  align-items: center;
}
.visable-list .list-of-subjects .list-header {
  width: 100%;
  font-size: 15px;
  text-align: right;
  padding: 2px;
  border-right: 2px solid #e88103;
}
.visable-list .list-of-subjects .no-border-right.item-normal {
  border-right: none;
}
.visable-list .list-of-subjects .item-normal {
  font-size: 15px;
  text-align: center;
  padding: 2px;
  border-right: 2px solid #e88103;
  margin: 20px 10px;
  display: flex;
  align-items: center;
}
.visable-list .list-of-subjects .item-normal .item-link {
  text-decoration: none;
  color: rgb(239, 239, 239);
  padding-right: 10px;
}
.visable-list .list-of-subjects .item-normal .item-link:hover {
  margin-right: 10px;
  color: #e88103;
}
.visable-list .list-of-subjects .item-normal .item-count {
  font-size: 13px;
  color: #8e8e8e;
  margin-right: 5px;
}

@font-face {
  font-family: IranSans;
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.ttf") format("truetype");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.woff") format("woff");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.woff2") format("woff2");
  src: url("./fonts/farsi/iransans-light/IRANSansWeb_Light.svg") format("svg");
}
@font-face {
  font-family: JetBrains;
  src: url("./fonts/english/jetbrain/JetBrainsMono-Medium.ttf") format("truetype");
}
#movie-all-info {
  direction: rtl;
  padding: 0px 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#movie-all-info > div {
  height: 100%;
}
#movie-all-info > .movieposter {
  width: 20%;
  margin-left: 20px;
  position: relative;
}
#movie-all-info > .movieposter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px;
}
#movie-all-info > .movieposter .isSubtitle {
  position: absolute;
  left: calc(50% - 37.5px);
  top: -16.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(7, 9, 11);
  padding: 4px 12px;
  background-color: #e88103;
  color: rgb(239, 239, 239);
}
#movie-all-info > .movieposter .isSubtitle span {
  text-align: center;
  font-size: 11px;
}
#movie-all-info > .movie-info {
  padding: 0px 16px;
  color: rgb(239, 239, 239);
  width: 45%;
}
#movie-all-info > .movie-info > div {
  width: 100%;
}
#movie-all-info > .movie-info .flx-row {
  display: flex;
  flex-flow: row;
}
#movie-all-info > .movie-info .flx-row:first-of-type .icn {
  margin: auto 15px;
  font-size: 19px;
}
#movie-all-info > .movie-info .flx-col {
  display: flex;
  flex-flow: column;
}
#movie-all-info > .movie-info .grd {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
}
#movie-all-info > .movie-info .grd .info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#movie-all-info > .movie-info .grd .info-item > div > span:first-of-type {
  color: rgb(215, 215, 215);
  font-size: 12px;
  margin-bottom: 4px;
}
#movie-all-info > .movie-info .grd .info-item > div > span:nth-child(2) {
  color: rgb(215, 215, 215);
  font-size: 14px;
}
#movie-all-info > .movie-info .grd .info-item .item-icon {
  color: #e88103;
  font-size: 24px;
  width: 35px;
  margin-left: 5px;
  text-align: center;
}
#movie-all-info > .movie-info .genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#movie-all-info > .movie-info .tag {
  color: rgb(215, 215, 215);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #8e8e8e;
  font-size: 12px;
  margin: auto 4px;
  transition: color border;
  transition-duration: 500ms;
  transition-delay: 100ms;
  text-decoration: none;
  white-space: nowrap;
}
#movie-all-info > .movie-info .tag:hover {
  color: #e88103;
  border-color: #854c07;
  cursor: pointer;
}
#movie-all-info > .movie-info .genres span:first-child {
  color: rgb(215, 215, 215);
  font-size: 12px;
}
#movie-all-info > .movie-info .movie-title p {
  font-size: 24px;
  margin-bottom: 0px;
}
#movie-all-info > .movie-info .movie-title span {
  color: rgb(215, 215, 215);
  margin-bottom: 20px;
}
#movie-all-info > .movie-info .movie-state {
  align-items: center;
}
#movie-all-info > .movie-info .movie-state p {
  font-size: 14px;
  color: rgb(215, 215, 215);
}
#movie-all-info > .movie-info .movie-state span {
  margin-left: 10px;
}
#movie-all-info > .movie-info .movie-state span i {
  border-radius: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(198, 14, 14);
  padding: 4px;
}
#movie-all-info > .movie-scores {
  width: 35%;
}
#movie-all-info > .movie-scores .the-story {
  margin-top: 60px;
  color: rgb(239, 239, 239);
  font-size: 13px;
  text-align: justify;
  line-height: 26px;
  font-weight: 400;
}
#movie-all-info > .movie-scores .scores-bar {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}
#movie-all-info > .movie-scores .scores-bar .imdb-rate img {
  width: 60px;
}
#movie-all-info > .movie-scores .scores-bar .imdb-rate .imdb-score {
  color: white;
}
#movie-all-info > .movie-scores .scores-bar .imdb-rate .imdb-score span:first-child {
  font-size: 16px;
}
#movie-all-info > .movie-scores .scores-bar .imdb-rate .imdb-score span:last-child {
  font-size: 3rem;
}
#movie-all-info > .movie-scores .scores-bar .imdb-votes {
  padding: 5px;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  color: rgb(215, 215, 215);
  font-size: 12px;
  margin-left: 10px;
}
#movie-all-info > .movie-scores .scores-bar .imdb-votes span:last-child {
  vertical-align: text-bottom;
}
#movie-all-info > .movie-scores .scores-bar .meter-score, #movie-all-info > .movie-scores .scores-bar .roten-score {
  margin-left: 10px;
  color: white;
  display: flex;
  align-items: center;
}
#movie-all-info > .movie-scores .scores-bar .meter-score img, #movie-all-info > .movie-scores .scores-bar .roten-score img {
  height: 24px;
  width: auto;
}
#movie-all-info > .movie-scores .scores-bar .meter-score span, #movie-all-info > .movie-scores .scores-bar .roten-score span {
  font-size: 14px;
  margin-left: 10px;
}
#movie-all-info > .movie-scores .userlike-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}
#movie-all-info > .movie-scores .userlike-bar .dis-or-like {
  display: flex;
  flex-direction: row-reverse;
}
#movie-all-info > .movie-scores .userlike-bar > span {
  color: white;
}
#movie-all-info > .movie-scores .userlike-bar .dislike, #movie-all-info > .movie-scores .userlike-bar .dolike {
  font-size: 13px;
  display: flex;
  align-items: center;
  transition: all 500ms;
}
#movie-all-info > .movie-scores .userlike-bar .dislike:hover, #movie-all-info > .movie-scores .userlike-bar .dolike:hover {
  color: #e88103;
  cursor: pointer;
}
#movie-all-info > .movie-scores .userlike-bar .dislike span, #movie-all-info > .movie-scores .userlike-bar .dolike span {
  margin-right: 10px;
}
#movie-all-info > .movie-scores .userlike-bar .dislike i, #movie-all-info > .movie-scores .userlike-bar .dolike i {
  font-size: 18px;
  vertical-align: bottom;
}
#movie-all-info > .movie-scores .userlike-bar .sepeprator {
  height: 24px;
  width: 3px;
  background-color: rgb(56, 56, 56);
  margin: auto 10px;
}
#movie-all-info > .movie-scores .userlike-bar .dislike i {
  transform: scaleX(-1);
}
#movie-all-info > .movie-scores .userlike-bar .mizan-like {
  margin-right: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  white-space: nowrap;
  row-gap: 300px;
  color: #ff9b20;
}
#movie-all-info > .movie-scores .userlike-bar .mizan-like .prantes {
  font-size: 10px;
  vertical-align: bottom;
}
#movie-all-info > .movie-scores .userlike-bar .mizan-like i {
  font-size: 18px;
}
#movie-all-info > .movie-scores .buttens {
  display: flex;
  row-gap: 15px;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
#movie-all-info > .movie-scores .buttens > span {
  margin-right: 14px;
  margin-top: 16px;
}
#movie-all-info > .movie-scores .buttens > span > span {
  margin-right: 8px;
}
#movie-all-info > .movie-scores .my-btn-white {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: #e88103;
  color: rgb(239, 239, 239);
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 500;
  transition: background-color;
  transition-delay: 100ms;
  transition-duration: 300ms;
}
#movie-all-info > .movie-scores .my-btn-white:hover {
  background-color: #b66502;
  cursor: pointer;
}
#movie-all-info > .movie-scores .my-btn-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: #141923;
  color: rgb(239, 239, 239);
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 500;
  transition: background-color;
  transition-delay: 100ms;
  transition-duration: 300ms;
  order: 1;
}
#movie-all-info > .movie-scores .my-btn-dark:hover {
  background-color: #273043;
  cursor: pointer;
}
#movie-all-info > .movie-scores .my-btn-dark i {
  font-size: 16px;
}

#more-info {
  max-height: 90px;
  overflow: hidden;
  transition: max-height;
  transition-delay: 200ms;
  transition-duration: 900ms;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
#more-info.active {
  max-height: 500px;
}
#more-info.active .arrow-label {
  transform: rotate(180deg);
}
#more-info .get-moreinfo {
  color: #8e8e8e;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
#more-info .get-moreinfo .arrow-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 15px;
  color: rgb(239, 239, 239);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 1.2s;
}
#more-info .get-moreinfo .arrow-label i {
  transform: rotateZ(-90deg);
}
#more-info p {
  direction: rtl;
  color: rgb(239, 239, 239);
}
#more-info p i {
  color: #ff9b20;
  font-weight: 100;
  font-size: 18px;
  margin-right: 5px;
  margin-left: 10px;
}
#more-info #list-go-right, #more-info #list-go-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 15px;
  color: rgb(239, 239, 239);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 63px;
  display: none;
}
#more-info #list-go-right i, #more-info #list-go-left i {
  transform: rotateZ(0deg);
}
#more-info #list-go-right .selected, #more-info #list-go-left .selected {
  display: block;
}
#more-info #list-go-left {
  left: 20px;
}
#more-info #list-go-right {
  right: 20px;
}

#stars-listbox {
  color: rgb(239, 239, 239);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  margin-top: 26px;
  padding-left: 10px;
  padding-right: 10px;
}
#stars-listbox .star-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 110px;
  height: 120 px;
  overflow: hidden;
}
#stars-listbox .star-box p {
  transition: color;
  transition-delay: 80ms;
  transition-duration: 300ms;
}
#stars-listbox .star-box:hover {
  cursor: pointer;
}
#stars-listbox .star-box:hover p {
  color: #e88103;
}
#stars-listbox .star-name {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  margin: 0;
  margin-top: 10px;
}
#stars-listbox .star-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
#stars-listbox .star-pic img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

#stars-holder {
  width: 90%;
  position: relative;
  display: flex;
  height: 150px;
  left: 5%;
  overflow: hidden;
}

#download-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: white;
  background-color: #141923;
  margin: 80px auto 40px;
  border-radius: 30px;
  direction: rtl;
  overflow: hidden;
}
#download-box #download-header {
  width: 100%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  background-color: rgb(29, 33, 41);
}
#download-box #download-header .download-header-icon {
  color: #8e8e8e;
  margin-left: 8px;
}
#download-box #download-header .download-header-text {
  font-size: 12px;
}
#download-box .download-season {
  background-color: transparent;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  max-height: 78px;
  transition: max-height;
  transition-delay: 50ms;
  transition-duration: 900ms;
}
#download-box .download-season.active {
  max-height: 2000px;
}
#download-box .download-season.active .season-links {
  max-height: 2000px;
  padding: 20px;
}
#download-box .download-season .season-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
#download-box .download-season .season-header .season-sing {
  font-size: 20px;
  color: #e88103;
  margin-left: 8px;
}
#download-box .download-season .season-header .season-name {
  font-size: 15px;
}
#download-box .download-season .season-header .season-state {
  padding: 14px 20px;
  background-color: rgb(7, 9, 11);
  border-radius: 20px;
  margin-right: 20px;
  font-size: 12px;
}
#download-box .download-season .season-header .season-trigger {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 15px;
  color: rgb(239, 239, 239);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
#download-box .download-season .season-header .season-trigger i {
  transform: rotateZ(180deg);
}
#download-box .download-season .season-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0px;
  background-color: rgb(7, 9, 11);
  border-radius: 25px;
  margin: auto;
  box-sizing: border-box;
  transition: all 900ms;
}
#download-box .download-season .season-links .one-season-links-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  padding-right: 0px;
  padding-left: 0px;
  margin: auto;
}
#download-box .download-season .season-links .one-season-links {
  background-color: rgb(29, 33, 41);
  width: 100%;
  max-height: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height;
  transition-delay: 0s;
  transition-timing-function: linear;
  transition-duration: 1s;
}
#download-box .download-season .season-links .one-season-links.active {
  max-height: 1000px;
}
#download-box .download-season .season-links .one-season-links.active .one-season-link-box {
  transition: all 100ms;
  background-color: #141923;
}
#download-box .download-season .season-links .one-season-links .one-season-texts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  margin-left: 0px;
  text-align: center;
}
#download-box .download-season .season-links .one-season-links .one-season-texts span {
  margin-left: 15px;
}
#download-box .download-season .season-links .one-season-links .one-season-left {
  display: flex;
  align-items: center;
}
#download-box .download-season .season-links .one-season-links .one-season-left .subtite-type {
  padding: 6px 15px;
  background-color: #1d2533;
  border-radius: 12px;
  border: 1px solid #8e8e8e;
  margin-left: 20px;
}
#download-box .download-season .season-links .one-season-links .one-season-left .season-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 15px;
  color: rgb(239, 239, 239);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-right: 0px;
}
#download-box .download-season .season-links .one-season-links .one-season-left .season-trigger i {
  transform: rotateZ(0deg);
}
#download-box .download-season .season-links .one-season-links .link-copyer {
  width: 100%;
  background-color: #141923;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
#download-box .download-season .season-links .one-season-links .link-copyer hr {
  border: 1px solid black;
}
#download-box .download-season .season-links .one-season-links .link-copyer .link-copyer-btn {
  display: inline-block;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid #8e8e8e;
  padding: 16px 24px;
  font-size: 13px;
  margin-bottom: 20px;
}
#download-box .download-season .season-links .one-season-links .link-copyer .link-copyer-btn i {
  margin-left: 9px;
  font-size: 20px;
}
#download-box .download-season .season-links .one-season-links .link-copyer .link-copyer-btn:hover {
  border-color: #e88103;
  cursor: pointer;
}
#download-box .download-season .one-season-link-box {
  background-color: rgb(29, 33, 41);
  transition: all 2.5s;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#download-box .download-season .one-season-link-box .link-in-link-box {
  width: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(7, 9, 11);
  color: rgb(239, 239, 239);
  text-decoration: none;
  font-size: 13px;
}
#download-box .download-season .one-season-link-box .link-in-link-box:hover {
  background-color: #1b232a;
  color: #bcbcbc;
}

#suggest-box {
  padding-right: 50px;
  padding-left: 50px;
  direction: rtl;
  width: 100%;
}
#suggest-box > p {
  width: 100%;
  color: #8e8e8e;
  font-size: 13px;
}
#suggest-box .suggest-lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.suggest-list {
  width: 100%;
  height: 100%;
  background-color: #141923;
  border-radius: 20px;
}
.suggest-list .img-suggest-list {
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
}
.suggest-list .img-suggest-list img {
  width: 100%;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
.suggest-list .img-suggest-list .suggest-more {
  position: relative;
}
.suggest-list .img-suggest-list .suggest-more:hover .suggest-more-counter {
  border-color: #854c07;
  color: #e88103;
}
.suggest-list .img-suggest-list .suggest-more img {
  filter: blur(3px) brightness(50%);
  overflow: hidden;
}
.suggest-list .img-suggest-list .suggest-more .suggest-more-counter {
  transition: all 500ms;
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid #8e8e8e;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  color: rgb(239, 239, 239);
  transform: translate3d(-50%, -50%, 0px);
  white-space: nowrap;
}
.suggest-list .img-suggest-list .suggest-more .suggest-more-counter sub {
  vertical-align: bottom;
}
.suggest-list .suggest-list-name {
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.suggest-list .suggest-list-name a {
  color: rgb(239, 239, 239);
  transition: all 500ms;
  text-decoration: none;
}
.suggest-list .suggest-list-name a:hover {
  color: #e88103;
}
.suggest-list .suggest-creator-info {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
  font-size: 14px;
}
.suggest-list .suggest-creator-info .suggest-div-user {
  display: flex;
  align-items: center;
}
.suggest-list .suggest-creator-info .suggest-div-user .suggest-user-name {
  color: rgb(239, 239, 239);
  font-size: 15px;
  text-decoration: none;
  transition: all 500ms;
}
.suggest-list .suggest-creator-info .suggest-div-user .suggest-user-name:hover {
  color: #e88103;
}
.suggest-list hr {
  width: 80%;
  border-color: rgb(7, 9, 11);
}

#suggest-horizontal-list {
  padding: 25px;
}
#suggest-horizontal-list .horizontal-list-header-text {
  font-size: 13px;
  color: #8e8e8e;
}

#tags-box {
  padding-right: 50px;
  padding-left: 50px;
  color: #8e8e8e;
  direction: rtl;
  width: 100%;
}
#tags-box p:first-child {
  font-size: 14px;
  margin-bottom: 0px;
}
#tags-box p:last-child {
  margin-top: 0px;
}
#tags-box a {
  font-size: 13px;
  text-decoration: none;
  color: #8e8e8e;
  transition: all 500ms;
}
#tags-box a:hover {
  color: #e88103;
}

#comment-area {
  border-radius: 30px;
  background-color: #141923;
  margin-right: 50px;
  margin-left: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}
#comment-area #comment-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(29, 33, 41);
  align-items: center;
  padding-bottom: 20px;
}
#comment-area #comment-header #comments-count {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 10px;
}
#comment-area #comment-header #comments-count span:first-child {
  font-size: 26px;
  color: rgb(239, 239, 239);
}
#comment-area #comment-header #comments-count span:last-child {
  font-size: 11px;
  vertical-align: super;
  color: #8e8e8e;
}
#comment-area #comment-header .comments-logo {
  font-size: 3rem;
  color: #e88103;
  margin-right: 30px;
}
#comment-area .comment-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#comment-area .comment-conditions p {
  color: #8e8e8e;
  text-align: center;
  font-size: 14px;
}
#comment-area .comment-conditions div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-self: center;
}
#comment-area .comment-conditions div .login-btn, #comment-area .comment-conditions div .signup-btn {
  padding: 10px 10px;
  color: rgb(239, 239, 239);
  text-align: center;
  border-radius: 14px;
  text-decoration: none;
  font-size: 13px;
  transition: all 500ms;
}
#comment-area .comment-conditions div .login-btn {
  background-color: rgb(7, 9, 11);
  width: 60%;
}
#comment-area .comment-conditions div .login-btn:hover {
  background-color: #0f1317;
}
#comment-area .comment-conditions div .signup-btn {
  width: 30%;
  background-color: #e88103;
}
#comment-area .comment-conditions div .signup-btn:hover {
  background-color: #b66502;
}
#comment-area .comment-body {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  position: relative;
}
#comment-area .comment-body .comment-pic img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
#comment-area .comment-body .comment-info {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#comment-area .comment-body .comment-info span {
  color: rgb(239, 239, 239);
  font-weight: 700;
  letter-spacing: 2px;
}
#comment-area .comment-body .comment-info p {
  color: #8e8e8e;
  text-align: right;
  margin-top: 4px;
  font-size: 14px;
}
#comment-area .comment-body .comment-info p.spoile {
  filter: blur(5px);
}
#comment-area .comment-body .comment-info button {
  background-color: transparent;
  border: 1px solid #e88103;
  border-radius: 14px;
  padding: 6px 26px;
  color: rgb(239, 239, 239);
  font-size: 12px;
  transition: background-color 500ms;
}
#comment-area .comment-body .comment-info button:hover {
  cursor: pointer;
  background-color: #e88103;
}
#comment-area .comment-body .comment-likes {
  justify-self: flex-end;
  align-self: center;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comment-area .comment-body .comment-likes .comment-time {
  color: rgb(239, 239, 239);
  font-size: 13px;
  margin-top: 4px;
  direction: rtl;
  font-weight: 200;
}
#comment-area .comment-body .comment-likes .comment-like-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(7, 9, 11);
  padding: 14px 30px;
  border-radius: 15px;
  color: rgb(239, 239, 239);
  margin-right: 20px;
  min-width: 97px;
}
#comment-area .comment-body .comment-likes .like-dislike .like-seperator {
  display: inline-block;
  background-color: rgb(46, 47, 50);
  width: 3px;
  height: 20px;
  border-radius: 20px;
  transform: translateY(20%);
}
#comment-area .comment-body .comment-likes .like-dislike .dislike-btn, #comment-area .comment-body .comment-likes .like-dislike .like-btn {
  transition: color 500ms;
}
#comment-area .comment-body .comment-likes .like-dislike .dislike-btn:hover, #comment-area .comment-body .comment-likes .like-dislike .like-btn:hover {
  cursor: pointer;
  color: #e88103;
}
#comment-area .comment-body .comment-likes .dislike-btn i {
  transform: scale3d(-1, -1, 1);
}
#comment-area #comments-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
#comment-area .more-comment {
  padding: 12px 26px;
  border-radius: 13px;
  background-color: rgb(7, 9, 11);
  justify-self: center;
  align-self: center;
  color: rgb(239, 239, 239);
  font-size: 12px;
  transition: all 500ms;
}
#comment-area .more-comment:hover {
  cursor: pointer;
  background-color: #1b232a;
}

.notSmall {
  display: inline;
}

.isSmall {
  display: none;
}/*# sourceMappingURL=post.css.map */