#movie-all-info {
  height: auto;
}

@media screen and (max-width: 1248px) {
  #more-info {
    margin-top: 50px;
  }
  #movie-all-info {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #movie-all-info > .movieposter {
    width: 30%;
  }
  #movie-all-info > .movie-info {
    width: 65%;
  }
  #movie-all-info > .movie-scores {
    width: 100%;
  }
  #suggest-box .suggest-lists {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  #suggest-box .suggest-lists .suggest-list {
    width: 300px;
    scroll-snap-align: start;
  }
}
@media screen and (max-width: 1024px) {
  #movie-all-info .movie-scores {
    margin-top: 20px;
  }
  #comment-area .comment-body .comment-likes .comment-like-box {
    padding: 6px 10px;
  }
  #download-box .download-season .season-links .one-season-links {
    max-height: 95px;
  }
  #download-box .download-season .one-season-link-box {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 800px) {
  #movie-all-info .movieposter {
    width: 45%;
    margin-top: 50px;
  }
  #movie-all-info .movie-info {
    order: 3;
    width: 100%;
  }
  #movie-all-info .movie-info .flx-row:first-child {
    margin-top: 50px;
    justify-content: flex-end;
  }
  #movie-all-info .movie-scores {
    order: 2;
    width: 50%;
  }
  #movie-all-info .movie-scores .userlike-bar {
    justify-content: center;
  }
  #movie-all-info .movie-scores .userlike-bar .mizan-like {
    margin-right: 0px;
  }
  #movie-all-info .movie-scores .buttens > span:last-child {
    order: 1;
  }
  #comment-header .comments-logo i {
    font-size: 28px;
  }
  #comment-header .comment-conditions p {
    font-size: 12px;
  }
  #comment-header .comment-conditions div .login-btn, #comment-header .comment-conditions div .signup-btn {
    font-size: 10px;
  }
  #tags-box {
    display: none;
  }
  #download-box .download-season .one-season-link-box {
    grid-template-columns: repeat(4, 1fr);
  }
  .notSmall {
    display: none;
  }
  .isSmall {
    display: inline;
  }
}
@media screen and (max-width: 750px) {
  #movie-all-info {
    align-items: flex-start;
    justify-content: center;
  }
  #movie-all-info .movie-info {
    order: 2;
  }
  #movie-all-info .movie-scores {
    width: 100%;
  }
  #movie-all-info .movie-scores .buttens > span.my-btn-dark {
    order: 3;
  }
}
@media screen and (max-width: 650px) {
  #comment-area .comment-body {
    flex-direction: column;
  }
  #comment-area .comment-body .comment-likes {
    margin: auto;
  }
  #comment-area .comment-body .comment-likes .comment-like-box {
    margin-right: 0px;
  }
  #comment-area #comment-header {
    justify-content: center;
  }
  #comment-area #comment-header #comments-count, #comment-area #comment-header .comments-logo {
    display: none;
  }
  .comment-pic {
    display: none;
  }
  #download-box .download-season .one-season-link-box {
    grid-template-columns: repeat(3, 1fr);
  }
  #download-box .download-season .season-links .one-season-links .one-season-texts {
    flex-direction: column;
    row-gap: 10px;
    padding-right: 20px;
  }
  #download-box .download-season .season-links .one-season-links {
    max-height: 155px;
  }
}
@media screen and (max-width: 550px) {
  #movie-all-info .movieposter {
    width: 70%;
  }
  #comment-area .comment-body .comment-likes {
    display: none;
  }
  #download-box .download-season .season-links .one-season-links {
    max-height: 178px;
  }
  #download-box .download-season .one-season-link-box {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=responsive-single.css.map */