$darkColor:rgb(7, 9, 11);
$lightBlack:#141923;
$lightOrange:#ff9b20;
$lightOrangeAlfa:#e38007;
$topMenu:#a4a4a4;
$darkGreen:#1d9225;
$headerMenu:#e6e6e6;
$darkText:#8e8e8e;
$darkOrange:#854c07;
$playBtnBorder:rgb(226, 226, 226);
$lightText:rgb(239, 239, 239);
$likeBackground:rgba(7, 9, 11,0.8);
$Orange:#e88103;
$qualityBackground:rgba(7, 9, 11,0.6);
$tagTextColor:rgb(215, 215, 215);
$movieStateIcon:rgb(0, 0, 0);
$movieStateIcon_Bg:rgb(198, 14, 14);

$color_downloadHeader:rgb(29,33,41);
$color_commentsHeader:rgb(29,33,41);
$like-dislike-line:rgb(46, 47, 50);